.HelloMessage {
  width: 300px;
}

.PrivateHomeContainer {
  display: flex;
  flex-direction: column;
  /* border: 3px solid violet; */
}

.HelperMessage {
  width: 300px;
}
L .HelperMessageMark {
  width: 30px;
  height: 30px;
}

.MapAndHelperMessageContainer {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  /* border: 3px solid black; */
  justify-content: space-between;
  /* border: 3px solid black; */
}

.MapContainer {
  /* border: 3px solid black; */
}

.DescriptionAndImageContainer {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
}

.DescriptionContainer {
  /* margin-top: 3rem; */
  min-height: 70px;
}

.ImageContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  /* border: 3px solid black; */
}

.BottomImage {
  width: 400px;
  height: 400px;
}

.PopUpImage {
  margin-top: 1rem;
  width: 220px;
  height: 220px;
}

@media only screen and (max-width: 919px) {
}

@media only screen and (min-width: 920px) and (max-width: 1027px) {
}
