.HelloMessage {
  width: 300px;
}

.PrivateHomeContainer {
  display: flex;
  flex-direction: column;
  /* border: 3px solid violet; */
}

.HelperMessage {
  width: 300px;
}

.HelperMessageMark {
  width: 30px;
  height: 30px;
}

.MapAndHelperMessageContainer {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  /* border: 3px solid black; */
  justify-content: space-between;
  /* border: 3px solid black; */
}

.MapContainer {
  /* border: 3px solid black; */
}

.DescriptionAndImageContainer {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
}

.DescriptionContainer {
  margin-top: 3rem;
}

.ImageContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  /* border: 3px solid black; */
}

.BottomImage {
  width: 400px;
  height: 400px;
}
