.PrizePageContainer {
  display: flex;
  flex-direction: column;
}

.PrizeContainer {
  /* border: 3px solid red; */
  min-width: 300px;
  width: 300px;
}
.PrizesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.PrizeImage {
  width: 250px;
  height: 200px;
}

.Timer {
  /* border: 3px solid green; */
  width: 300px;
  margin-bottom: 3rem;
}

.TimerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1125px) {
  .PrizePageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .PrizesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .PrizeContainer {
    /* border: 3px solid red; */
    /* min-width: 300px; */
    /* width: 300px; */
    margin-bottom: 3rem;
  }
}
