.ReviewsPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ReviewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ReviewCard {
  margin-bottom: 3rem;
  width: 600px;
}

.ReviewInputForm {
  /* border: 3px solid black; */
  width: 250px;
}

@media only screen and (max-width: 919px) {
  .Menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    max-width: 600px;
  }

  /* .CenterContainer {
    margin-left: 4rem;
  } */
  .ReviewsPageContainer {
    display: flex;
    flex-direction: column;
  }
}
/*

@media only screen and (min-width: 920px) and (max-width: 1027px) {
 
  }
} */
