.HelloMessage {
  width: 300px;
}

.PrivateHomeContainer {
  display: flex;
  flex-direction: column;
}

.HelperMessage {
  width: 300px;
}
.HelperMessageMark {
  width: 30px;
  height: 30px;
}
.MapAndHelperMessageContainer {
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DescriptionAndImageContainer {
  display: flex;
  flex-direction: column;
}

.DescriptionContainer {
  min-height: 70px;
}

.ImageContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.BottomImage {
  width: 400px;
  height: 400px;
}

.PopUpImage {
  margin-top: 1rem;
  width: 220px;
  height: 220px;
}

@media only screen and (max-width: 919px) {
  .MapAndHelperMessageContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .HelperMessage {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 920px) and (max-width: 1027px) {
  .MapAndHelperMessageContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .MapContainer {
    width: 540px;
  }

  .DescriptionAndImageContainer {
    margin-top: 3rem;
  }

  .HelperMessage {
    margin-bottom: 3rem;
  }
}
